[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
scrapy = "*"
scrapyrt = { editable = true, ref = "pass-arguments-to-spider", git = "https://github.com/scrapinghub/scrapyrt.git" }

[requires]
python_version = "3.8"
